#container{
 display : flex;
 flex-direction: column;
 border: none;
 border-radius: 5px;
 margin : 20px auto ;
 padding : 10px;
 width: 250px;
 height: 150px;
 border-radius: 5px;
 background-color: #ffc8dd;
 text-align: center;
}

#ptag{
    color :aliceblue;
    font:Playfair Display;
    font-weight: bold; 
    font-size: larger;
    margin : 20px auto;
}

#savebtn{
    padding : 10px 20px;
    font-weight: bold;
    margin : 0px 50px;
    margin-top: 10px;
    background-color:#ff87ab;
    border-radius: 3px;
   border : 0px;
}